# ----------------------------------
# ------ API URL (choose one) ------
# ----------------------------------

#BASE_URL=https://api.alcf.anl.gov/api/v1
#BASE_URL=https://api.iri.nersc.gov/api/v2
#BASE_URL=https://iri-dev.ppg.es.net


# ----------------------------
# ------ Authentication ------
# ----------------------------

IRI_API_TOKEN=""


# ---------------------
# ------ Compute ------
# ---------------------

COMPUTE_RESOURCE_ID=""

# Job submission
NODES=1
WALLTIME_SEC=300
QUEUE=""
COMPUTE_ALLOCATION=""
STDOUT_PATH=""
STDERR_PATH=""

# Job list
FILTERS={}


